Repository minvws/nl-covid19-data-dashboard, pull requests merged in 2021-05, with the labels that each got.

#2779 Add difference hospital_nice__admissions_on_date_of_reporting schema
  packages/app/schema/gm/__difference.json
  packages/app/schema/nl/__difference.json
  packages/app/schema/vr/__difference.json
  packages/common/src/types/data.ts
Labels: Awaiting Data

#2777 Update in schema -- infections & confirmed cases
  packages/app/schema/gm/__difference.json
  packages/app/schema/nl/__difference.json
  packages/app/schema/vr/__difference.json
  packages/common/src/types/data.ts
Labels: Awaiting Data

#2776 Update in schema -- nursing home
  packages/app/schema/nl/__difference.json
  packages/app/schema/vr/__difference.json
  packages/common/src/types/data.ts
Labels: Awaiting Data

#2775 Update in schema -- vulnerable people
  packages/app/schema/nl/__difference.json
  packages/app/schema/vr/__difference.json
  packages/common/src/types/data.ts
Labels: Awaiting Data

#2765 Update in schema deceased_rivm__covid_daily_moving_average
  packages/app/schema/gm/__difference.json
  packages/app/schema/nl/__difference.json
  packages/app/schema/vr/__difference.json
  packages/common/src/types/data.ts
Labels: Awaiting Data

#2676 Add moving average to testing graphs
  packages/app/src/config/features.ts
  packages/app/src/locale/en.json
  packages/app/src/locale/nl.json
  packages/app/src/pages/gemeente/[code]/positief-geteste-mensen.tsx
  packages/app/src/pages/landelijk/positief-geteste-mensen.tsx
  packages/app/src/pages/veiligheidsregio/[code]/positief-geteste-mensen.tsx
  packages/cms/src/lokalize/key-mutations.csv
Labels: Awaiting Data, hold

#2859 Rename vaccine support-schema and behavior-property
  packages/app/schema/nl/__index.json
  packages/app/schema/nl/behavior.json
  packages/app/schema/nl/behavior_per_age_group.json
  packages/app/schema/nl/vaccine_vaccinated_or_support.json
  packages/app/src/domain/behavior/behavior-types.ts
  packages/app/src/domain/behavior/components/behavior-icon.tsx
  packages/app/src/pages/landelijk/vaccinaties.tsx
  packages/cms/src/lokalize/key-mutations.csv
  packages/common/src/types/data.ts
Labels: Awaiting Data

#2857 Remove old_date_unix from schemas
  packages/app/schema/gm/__difference.json
  packages/app/schema/nl/__difference.json
  packages/app/schema/vr/__difference.json
  packages/common/src/types/data.ts
Labels: hold

#2878 Move doses per minute calculation to the BE
  packages/app/schema/nl/vaccine_administered_rate_moving_average.json
  packages/app/src/domain/vaccine/components/vaccine-ticker.tsx
  packages/common/src/types/data.ts
Labels: Awaiting Data

#2877 Add population count to municipality positively tested and sewer pages
  packages/app/schema/gm/__index.json
  packages/app/schema/gm/__static_values.json
  packages/app/schema/vr/__static_values.json
  packages/app/src/components/collapsible/collapsible-content.tsx
  packages/app/src/components/collapsible/index.ts
  packages/app/src/components/sewer-chart/sewer-chart.tsx
  packages/app/src/pages/gemeente/[code]/positief-geteste-mensen.tsx
  packages/app/src/pages/gemeente/[code]/rioolwater.tsx
  packages/app/src/static-props/get-data.ts
  packages/cms/src/lokalize/key-mutations.csv
  packages/common/src/types/data.ts
Labels: Awaiting Data

#2882 Support unknown escalation levels
  packages/app/schema/vr/escalation_level.json
  packages/app/schema/vr_collection/escalation_levels.json
  packages/app/src/components/categorical-bar-scale.tsx
  packages/app/src/components/choropleth/hooks/use-choropleth-color-scale.ts
  packages/app/src/components/choropleth/hooks/use-safety-region-data.ts
  packages/app/src/components/choropleth/tooltips/region/escalation-regional-tooltip.tsx
  packages/app/src/components/escalation-level-icon.tsx
  packages/app/src/components/escalation-level.tsx
  packages/app/src/components/escalation-map-legenda.tsx
  packages/app/src/components/risk-level-indicator.tsx
  packages/app/src/domain/escalation-level/get-escalation-level-index-key.ts
  packages/app/src/domain/escalation-level/scoreboard/components/region-cubes.tsx
  packages/app/src/domain/escalation-level/scoreboard/components/safety-region-group.tsx
  packages/app/src/domain/escalation-level/scoreboard/components/safety-region-row.tsx
  packages/app/src/domain/escalation-level/scoreboard/data-selection/select-scoreboard-data.ts
  packages/app/src/domain/escalation-level/scoreboard/index.tsx
  packages/app/src/domain/restrictions/type.d.ts
  packages/app/src/domain/topical/escalation-level-explanations.tsx
  packages/app/src/pages/actueel/gemeente/[code].tsx
  packages/app/src/pages/actueel/veiligheidsregio/[code].tsx
  packages/app/src/pages/veiligheidsregio/[code]/risiconiveau.tsx
  packages/app/src/utils/use-escalation-color.ts
  packages/cms/src/lokalize/key-mutations.csv
  packages/common/src/types/data.ts
Labels: hold
